apiVersion: v1
kind: Secret
metadata:
  name: example-sts-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "access_key": "Your-STS-Access-Key",
      "secret_key": "Your-STS-Secret-Key",
      "security_token": "Your-STS-Security-Token",
      "region": "cn-hangzhou"
    }
